<div class="row-sm-6 row-xs-12 row-sm-offset-3 row-xs-offset-0 text-center">
  <h1>
    Welcome to mattlong.la
    <br />
    <small>
      The professional face of Matt Long
    </small>
  </h1>
  <p>
    This page is currently under construction, but will be finished shortly.
  </p>
</div>
