<div class="row-sm-6 row-xs-12 row-sm-offset-3 row-xs-offset-0 text-center">
  <h1>
    Hi, I'm Bernard!
  </h1>
  <p>
    I'm your personal home-control assistant, and I work through voice APIs like Amazon's Alexa in order to make your life easier! Download me on your Alexa-enabled device, and see how I can make your life easier. Simply ask Alexa to tell me to do stuff, and I happily will!
  </p>
</div>
