<% provide(:title, full_title("#{@device.name}")) %>

<h1>
  <%= "#{@device.name}" %>
</h1>
<h2>
  Device Model:
</h2>
<p>
  <%= @device.device_model.model %>
</p>
<p>
Location: <%= @device.location.name %>
</p>
