<% provide(:title, full_title("#{@remote.brand.name} #{@remote.model} Remote")) %>

<h1>
  <%= "#{@remote.brand.name} #{@remote.model}" %>
</h1>
<ul>
  <% @remote.keys.each do |key| %>
    <li><%= key.name %></li>
  <% end %>
</ul>
