<% provide(:title, full_title("#{@device_brand.name}")) %>

<h1>
  <%= "#{@device_brand.name}" %>
</h1>
<h2>
  Devices:
</h2>
<ul>
  <% @device_brand.devices.each do |device| %>
    <li><%= device.name %></li>
  <% end %>
</ul>
<h2>
  Device Models:
</h2>
<ul>
  <% @device_brand.models.each do |model| %>
    <li><%= model.model %></li>
  <% end %>
</ul>
